.bgLogo {
  background-color: #000324;
}
.logoSize {
  width: 143px;
  height: 100px;
}
.boxLogo {
  width: auto;
  height: 120px;
  background-color: #000324;
}
.dosis {
  font-family: Dosis, Times, serif;
  font-size: 20px;
  color: white;
}

.borderLogo{
    border: 2px solid white;
}

.headerSize{
    width: auto;
    height: 500px;
    overflow: hidden;
}

.headerImg{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0px -70px;

}
.headerInside{
    text-align: center;
    position: absolute;
    width: auto;
    padding-left: 200px;
    padding-right: 200px;
    color: #E5FEFF;
    background-color: #000324CC;
    
}

 .headerInside p{
    font-size: 20px;
    padding-bottom: 80px;
    text-align: center;
}

.headerInside h1{
    padding-top: 59px;    
    font-size: 45px;
}
.awardContainer{
    padding-top: 200px;
    padding-bottom: 200px;
}

.awardBox{
    width: auto;
    height: auto;
    padding-right: 200px;
    padding-left: 200px;
}

.roomsBox{
    width: auto;
    height: 738px;
    background-image: url(../hotelMarkupAssets/bg2.jpg);
}

.roomsCard{
    display: flex;
    justify-content: space-evenly;
}
.roomsBox h1{
    text-align: center;
    color: #FFFFFF;
}

.packageBox{
    width: auto;
    height: 900px;
    background-color: white;

}

.packageElement{
    width: 560px;
    height: 235px;
}

.amenBox{
    width: auto;
    height: 500px;
    background-image: url(../hotelMarkupAssets/bg.jpg);
    background-repeat: no-repeat; 
    background-size: 100%;
    position: relative;
    
}

.amenBox h1{
    text-align: center;
    color: #FFFFFF;
    font-size: 35px;
}
.amenBox h2{
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
}

.amenPics{
    display: flex;
    justify-content: center;
}
.amenBox h3{
    color: #FFFFFF;
    font-size: 16px;
    margin-top: 20px;
    text-align: center;
}

.resContainer{
    width: auto;
    height: 800px;
    
}

.resBox{
    width: 1137px;
    height: 621px;
    background-image: url(../hotelMarkupAssets/hamsterreserve.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.resText{
    color: white;
    text-align: center;
}

.footerText{
    text-align: center;
    color: #E5FEFF;
}